.dark-theme {
  --white: #ffffff;
  --black: #333333;
  --font-families-open-sans: Open Sans;
  --line-heights-0: 36;
  --line-heights-1: 26;
  --line-heights-2: 20;
  --line-heights-3: 18;
  --line-heights-4: 16;
  --font-weights-open-sans-0: Regular;
  --font-weights-open-sans-1: SemiBold;
  --font-weights-open-sans-2: Bold;
  --font-size-0: 12;
  --font-size-1: 14;
  --font-size-2: 16;
  --font-size-3: 20;
  --font-size-4: 24;
  --letter-spacing-0: 0;
  --paragraph-spacing-0: 0;
  --heading-h1: [object Object];
  --heading-h2: [object Object];
  --heading-h3: [object Object];
  --heading-h4: [object Object];
  --heading-h5: [object Object];
  --text-case-none: none;
  --text-decoration-none: none;
  --text-text-normal: [object Object];
  --text-text-bold: [object Object];
  --text-text-semibold: [object Object];
}