.dark-theme, ::after, ::before, ::placeholder {
  --navex-white: #ffffff;
  --navex-black: #333333;
  --navex-font-families-open-sans: Open Sans;
  --navex-line-heights-0: 36;
  --navex-line-heights-1: 26;
  --navex-line-heights-2: 20;
  --navex-line-heights-3: 18;
  --navex-line-heights-4: 16;
  --navex-font-weights-open-sans-0: Regular;
  --navex-font-weights-open-sans-1: SemiBold;
  --navex-font-weights-open-sans-2: Bold;
  --navex-font-size-0: 12;
  --navex-font-size-1: 14;
  --navex-font-size-2: 16;
  --navex-font-size-3: 20;
  --navex-font-size-4: 24;
  --navex-letter-spacing-0: 0;
  --navex-paragraph-spacing-0: 0;
  --navex-heading-h1: SemiBold 24/36 Open Sans;
  --navex-heading-h2: SemiBold 20/26 Open Sans;
  --navex-heading-h3: SemiBold 16/20 Open Sans;
  --navex-heading-h4: SemiBold 14/18 Open Sans;
  --navex-heading-h5: SemiBold 12/16 Open Sans;
  --navex-text-case-none: none;
  --navex-text-decoration-none: none;
  --navex-text-text-normal: Regular / Open Sans;
  --navex-text-text-bold: Bold / Open Sans;
  --navex-text-text-semibold: SemiBold / Open Sans;
}